<html>

<head>
  <title>Brain</title>
  <link rel="stylesheet" href="/static/admin/css/global.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script src="/static/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1">
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  <link rel="shortcut icon" type="image/x-icon" href="./static/j_logo.png">

  <link href="https://fonts.googleapis.com/css?family=Karla|Lato|Roboto|Raleway|Source+Sans+Pro" rel="stylesheet">
  
  <script type="text/javascript">
    $(document).ready(function () {
      $('select').formSelect();
    });
  </script>
</head>

<body>
  <div class="nav-bar">
    <a href="{{ url_for('admin_api.dashboard') }}"><img class="jeec-logo-mobile" src="/static/brain.png"></a>

    <form action="{{ url_for('admin_api.admin_logout') }}" method="get">
      <button class="waves-effect red lighten-2 btn-small right logout-btn"><i class="material-icons left">lock</i>Log
        out</button>
    </form>

    <a target="_blank" rel="noopener noreferrer" href="https://jeec.ist" method="get">
      <button class="waves-effect waves-light btn-small right" style="margin-top: -3px; margin-right: 50px;"><i
          class="large material-icons left">web</i>Visit website</button>
    </a>
  </div>

  <div class="section-header">
    <h2>Lootboxes Management</h2>
    <p>Update {{ lootbox.name }} Lootbox</p>
  </div>

  <form action="{{ url_for('admin_api.lootboxes_dashboard') }}" method="get">
    <button class="waves-effect waves-light btn back-btn left"><i
        class="material-icons left">arrow_back</i>back</button>
  </form>

  <br>

  <div class="create-form">
    {% if error is not none %}
    <blockquote class="create-error">
      {{ error }}
    </blockquote>
    {% endif %}

    {% if total_percentage > 100 %}
      <blockquote class="create-error">
        Total probability of rewards over 100%!
      </blockquote>
    {% elif total_percentage < 100 %}
      <blockquote class="create-error">
        Total probability of rewards under 100%!
      </blockquote>
    {% endif %}

    <form id="update_lootbox" class="col s12" action="/admin/lootbox/{{lootbox.external_id}}" method="post" enctype="multipart/form-data">
      <div class="row">
        <div class="input-field col s4">
          <input id="name" name="name" type="text" class="validate" value="{{ lootbox.name }}" maxlength="20" required>
          <label for="name">Name</label>
        </div>
        <div class="input-field col s5 right">
          Active:
          <p>
            <label style="margin-right: 20px;">
              <input class="with-gap" name="active" type="radio" value="True" {% if lootbox.active is sameas true %}checked{% endif %} />
              <span>Yes</span>
            </label>
            <label>
              <input class="with-gap" name="active" type="radio" value="False" {% if lootbox.active is sameas false %}checked{% endif %} />
              <span>No</span>
            </label>
          </p>
        </div>
      </div>

        
      <div class="row">
        <div class="input-field col s4">
          Icon:
          <br>
          <p>
            {% if icon is not sameas none %}
            <img src="{{ icon }}" class="company-logo">
            {% else %}
            <blockquote class="create-error">
              Image missing! Please, upload one
            </blockquote>
            {% endif %}
          </p>
        </div>
        
        <div class="col s1"></div>
        <div class="input-field col s4">
          Mobile Icon:
          <br>
          <p>
            {% if mobile_icon is not sameas none %}
            <img src="{{ mobile_icon }}" class="lootbox-icon">
            {% else %}
            <blockquote class="create-error">
              Image missing! Please, upload one
            </blockquote>
            {% endif %}
          </p>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s4">
          <div class="file-field input-field" style="width:500px;">
            <div class="btn">
              <i class="material-icons left">image</i>
              <span>{% if icon is not sameas none %}Change Lootbox icon{% else %}Lootbox icon{% endif %}</span>
              <input id="lootbox_icon" type="file" name="lootbox_icon">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="use .png with <200kB">
            </div>
          </div>
        </div>

        <div class="col s1"></div>
        <div class="input-field col s4">
          <div class="file-field input-field" style="width:500px;">
            <div class="btn">
              <i class="material-icons left">smartphone</i>
              <span>{% if mobile_icon is not sameas none %}Change Mobile Lootbox icon{% else %}Mobile Lootbox icon{% endif %}</span>
              <input id='mobile_lootbox_icon' type="file" name="mobile_lootbox_icon">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="use .png with <80kB">
            </div>
          </div>
        </div>
      </div>
    </form>
    <form id="new_reward_lootbox" new_action="" method="post" enctype="multipart/form-data">
      <h5>Add Rewards:</h5>

      <table class="striped" id="reward_table">
        <thead>
          <tr>
            <th>Reward</th>
            <th>Probability</th>
          </tr>
        </thead>
        <tbody>
          {% if current_user.role.name == 'admin' %}
              <tr>
                  <td>
                    <select form="new_reward_lootbox" name="new_reward" id="new_reward" required>
                      <option value="" selected></option>
                      {% for reward in rewards %}
                        <option value="{{reward.external_id}}">{{reward.name}}</option>
                      {% endfor %}
                    </select>
                  </td>
          
                  <td>
                    <input form="new_reward_lootbox" id="new_reward_probability" name="new_reward_probability" type="number" value="" min="0" max="100" required>
                  </td>
          
                  <td>
                    <button form="new_reward_lootbox" type="submit" id="add_reward_button" title="Add Reward" class="waves-effect waves-light btn-floating"><i
                        class="material-icons left">add</i>Add</button>
                  </td>
              </tr>
          {% endif %}
        </tbody>
      </table>
    </form>

    <h5>Rewards:</h5>

    {% if lootbox_rewards is sameas none %}
      <blockquote class="create-error">
        No rewards added yet! Please add one
      </blockquote>
    {% else %}
      <table class="striped" id="reward_table">
        <thead>
          <tr>
            <th>Reward</th>
            <th>Active</th>
            <th>Probability</th>
          </tr>
        </thead>
        <tbody>
          {% if current_user.role.name == 'admin' %}
            {% for lootbox_reward in lootbox_rewards %}
              </tr>
              <tr>
                <td>
                  <select name="reward_list" id="reward_list" disabled>
                    {% for reward in rewards %}
                      {% if reward.id|int() == lootbox_reward.reward_id|int() %} 
                        <option value="{{lootbox_reward.external_id}}" selected disabled>{{reward.name}}</option>
                      {% endif %}
                    {% endfor %}
                    </option>
                  </select>
                </td>
        
                <td>
                  <input id="reward_probability" type="number" value="{{lootbox_reward.probability}}" min="0" max="100" disabled>
                </td>
        
                <td>
                  <form action="/admin/lootbox/{{lootbox.external_id}}/delete/reward" method="post" enctype="multipart/form-data">
                    <div style="display:none;">
                      <input id="reward_external_id" name="reward_external_id" type="text" class="validate" value="{{lootbox_reward.external_id}}" required>
                    </div>
                    <button id="remove_reward_button" title="Remove Reward" class="waves-effect waves-light btn-floating red"><i
                        class="material-icons left">remove</i>Remove</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
            
            </tr>
            <tr>
              <td>
                Total Percentage:
              </td>
      
              <td>
                {{total_percentage}}
              </td>
      
              <td></td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    {% endif %}


    <button form="update_lootbox" type="submit" class="waves-effect blue lighten-2 btn add-btn right" style="margin-top: 20px;"><i
        class="material-icons left">save</i>Save Lootbox</button>

    <form action="/admin/lootbox/{{lootbox.external_id}}/delete" method="post">
      <button class="waves-effect red darken-2 btn delete-btn"><i class="material-icons left">clear</i>Delete
        lootbox</button>
    </form>
  </div>

</body>
<script>
  
  document.getElementById('new_reward').onchange = function() {
    if (this.value != ""){
      document.getElementById('new_reward_lootbox').action = "/admin/lootbox/{{lootbox.external_id}}/reward";
    } else {
      document.getElementById('new_reward_lootbox').action = "";
    }
  };


</script>


</html>