<html>
    <head>
        <title>Brain</title>
        <link rel="stylesheet" href="/static/admin/css/global.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
        <script src="/static/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1">
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
        <link rel="shortcut icon" type="image/x-icon" href="./static/j_logo.png">
      
        <link href="https://fonts.googleapis.com/css?family=Karla|Lato|Roboto|Raleway|Source+Sans+Pro" rel="stylesheet">
      
        <script type="text/javascript">
          $(document).ready(function () {
            $('select').formSelect();
          });
        </script>

  </head>
      
      <body>
          <div class="nav-bar">
            <a href="{{ url_for('companies_api.dashboard') }}"><img class="jeec-logo-mobile"
                src="/static/jeec_logo_mobile.svg"></a>
        
            <div class="company-dash-username right" style="color:black">{{ user.user.name }}</div>
        
            <form action="{{ url_for('companies_api.company_logout') }}" method="get">
              <button class="waves-effect red lighten-2 btn-small right logout-btn"><i class="material-icons left">lock</i>Log
                out</button>
            </form>
        
            <a target="_blank" rel="noopener noreferrer" href="https://jeec.ist" method="get">
              <button class="waves-effect waves-light btn-small right" style="margin-top: -3px; margin-right: 50px;"><i
                  class="large material-icons left">web</i>Visit website</button>
            </a>
          </div>
        
          <div class="section-header">
            <h2>Redeem Codes for {{ activity_name }}</h2>
          </div>
        
          <form action="{{ url_for('companies_api.dashboard') }}" method="get" class="row s12">
            <button class="waves-effect waves-light btn back-btn left"><i
                class="material-icons left">arrow_back</i>back</button>
          </form>
  
          <br>
          <div>
            <div class="create-form" style="float:left;width:50%">
  
              {% if error is not none %}
              <blockquote class = "create-error" >
                {{ error }}
              </blockquote>
              {% endif %}
            
              <form  action="{{ url_for('companies_api.activity_redeem_student') }}" method="post">
                <div class = "row 1">
                  <div class="col s4">
                    <div class="input-field" style="margin-right: 10px;">
                      <input name="ist_id" id="ist_id" type="text" required></input>
                      <label for="ist_id">Student's id</label>
                    </div>
                  </div>
                  <div class = "col s2" style="position:relative; top:30px">
                    <button type="submit" class="waves-effect blue lighten-2 btn add-btn right"><i
                          class="material-icons left"></i>Submit</button>
                  </div>
                </div>
              </form>
              <div class="row 1">
                <div class="col s1.5">
                  <button class="waves-effect blue lighten-2 btn add-btn right" id="show_students"><i
                          class="material-icons left"></i>Show students ({{total_students}})</button>
                </div>
              </div>
            </div>
            <div class = "col s4">
              <table id = "students">
                <tr>
                  <th>Student's id</th>
                  <th>Student's name</th>
                </tr>
                <ul>
                        {% for student in student_list %}
                  <tr>
                    <td>{{student.user.username}}</td>
                    <td>{{student.user.name}}</td>
                  </tr>
                        {% endfor %}
                </ul>
              </table>
              </div>
            </div>
          </div>
              </body>
    <script>
      students_button= document.getElementById("show_students");
      document.getElementById("students").style.display="none"
      students_button.addEventListener('click',show_students);
      function show_students(){
        students_list = document.getElementById("students");
        students_button= document.getElementById("show_students");
        if (students_list.style.display=="block"){
          students_list.style.display="none"
          students_button.textContent="Show students ({{total_students}})"
        }
        else{
          students_list.style.display="block"
          students_button.textContent="Hide students ({{total_students}})"
        }
      }
    </script>

      
      <body>   
    
</html>